$container-padding: 2rem;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh; /* if you don't want it to take up the full screen, reduce this number */
  overflow: hidden;
  text-align: center;
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .65) 100%), url("/assets/images/kalonsaloncutting.jpg") no-repeat center center scroll;
  background-size: cover;
}
.hero-title {
  color: #fff;
  @include font-size(4rem);
}
.hero-button {
  display: inline-block;
  padding: .75rem 1.5rem;
  margin: 0;
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background: #098191;
  border: none;
  border-radius: 11px;
  transition: background ease .25s;
  appearance: none;
}
.hero-button:hover {
  background: #63b6b8;
}
.hero-button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}


.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $container-padding;
}
.products-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.products-subtitle {
  text-align: center;
}

.products-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.products-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15rem;
  padding: 3rem 2rem;
}
.products-icon {
  @include font-size(3rem);
}

